:root {
  --dl-color-gray-300: #d9dbe1ff;
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #20273fff;
  --dl-color-gray-800: #474a57ff;
  --dl-color-gray-900: #18191fff;
  --dl-color-pink-100: #ffb1e6ff;
  --dl-color-pink-800: #ff72d2ff;
  --dl-size-size-unit: 1rem;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-orange-100: #ffe3c1ff;
  --dl-color-orange-800: #ffc278ff;
  --dl-color-purple-100: #f1e4ffff;
  --dl-color-purple-800: #dec6f7ff;
  --dl-color-purple-900: #ac69f8ff;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-purple-1000: #6209c6ff;
  --dl-color-background-1: rgba(0, 0, 0, 1);
  --dl-color-background-3: rgba(100, 100, 100, 1);
  --dl-color-background-4: rgba(188, 188, 188, 1);
  --dl-color-background-6: rgba(240, 240, 240, 1);
  --dl-color-background-8: rgba(255, 255, 255, 1);
  --dl-color-pink-default: #f22bb2ff;
  --dl-size-size-halfunit: 0.5rem;
  --dl-color-secondary-200: #8392abff;
  --dl-color-secondary-600: #252f40ff;
  --dl-color-secondary-700: #20273fff;
  --dl-color-turquoise-100: #d5fafcff;
  --dl-color-turquoise-800: #75e3eaff;
  --dl-radius-radius-round: 50%;
  --dl-color-orange-default: #fe9a22ff;
  --dl-color-purple-default: #8c30f5ff;
  --dl-size-size-doubleunit: 2rem;
  --dl-size-size-tripleunit: 3rem;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 6rem;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius1: 1rem;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius6: 6px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-sixunits1: 96px;
  --dl-radius-radius-radius40: 40px;
  --dl-radius-radius-radius75: 0.75rem;
  --dl-space-space-doubleunit: 2rem;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-tripleunit: 3rem;
  --dl-color-turquoise-default: #2ec5ceff;
  --dl-color-light_text-primary: rgba(0, 0, 0, 0.8700000047683716);
  --dl-color-light_info-contrast: rgba(255, 255, 255, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-light_primary-contrast: rgba(255, 255, 255, 1);
  --dl-space-space-unitandahalfunit: 1.5rem;
  --dl-space-space-triplequarterunit: 0.75rem;
}
.teleport-show {
  display: flex !important;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.button {
  color: var(--dl-color-gray-900);
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list-item {
  display: list-item;
}
.input {
  color: var(--dl-color-gray-900);
  cursor: auto;
  padding: 0.5rem 1rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-900);
  cursor: auto;
  padding: 0.5rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.social {
  width: 20px;
  display: flex;
  padding: 0px;
  box-shadow: none;
  align-items: center;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.button-clean {
  border: none;
  padding: 0px;
  box-shadow: none;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.button-link {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 24px;
  box-shadow: none;
  font-style: normal;
  align-items: center;
  font-weight: 400;
  line-height: 36px;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  text-decoration: none;
  background-color: transparent;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.accordion {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.accordion:hover {
  color: white;
  border-color: white;
}
.category-link {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  text-decoration: none;
}
.Small {
  font-size: 0.875rem;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.HeadingTwo {
  font-size: 1.875rem;
  font-family: Italiana;
  font-weight: 700;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.ComponentsButtonLarge {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.LargeLabel {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.TypographyBody1 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.Lead {
  font-size: 1.25rem;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
.Body2 {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.h4-Mobile {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H1-Marketig_48 {
  font-size: 86px;
  font-family: Italiana;
  font-weight: 400;
  line-height: 120%;
  text-transform: none;
  text-decoration: none;
}
.Lead1 {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.77;
  text-transform: none;
  text-decoration: none;
}
.H5-Mobile {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.ButtonSmall {
  font-size: 0.75rem;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.025rem;
  text-transform: uppercase;
}
.H2-DesktopAlt {
  font-size: 36px;
  font-family: Italiana;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.HeadingThree {
  font-size: 1.25rem;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.H1Marketing_48 {
  font-size: 48px;
  font-style: Regular;
  font-family: Italiana;
  font-weight: 400;
  line-height: 120%;
  text-transform: none;
  text-decoration: none;
}
.H6-Desktop {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.Body-Desktop {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.Lead2 {
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 1.77;
  text-transform: none;
  text-decoration: none;
}
.H1-Mobile {
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H3-Desktop {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H3-Mobile {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H2-Desktop {
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H5-Desktop {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.Subtitle2 {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.SmallLabel {
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.Headline {
  font-size: 86px;
  font-style: normal;
  font-family: Italiana;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -3px;
  text-transform: none;
  text-decoration: none;
}
.MediumLabel {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.H2-Mobile {
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.MarketingPagesDesktopMarketingLeadText-MarketingPage1 {
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400px;
  font-stretch: normal;
}
.H6-Mobile {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.ComponentsButtonMedium {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge2 {
  font-size: 15px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge3 {
  font-size: 15px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.H1-Desktop {
  font-size: 48px;
  font-family: Italiana;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.Large {
  font-size: 0.875rem;
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.MarketingPagesDesktopMarketingLeadText-MarketingPage {
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400px;
  font-stretch: normal;
}
.Body-Mobile {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.ComponentsButtonLarge1 {
  font-size: 15px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.BadgeLabel {
  font-size: 20px;
  font-family: Nanum Pen Script;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.Subtitle1 {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.H4-Desktop {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.ComponentsButtonMedium1 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadingOne {
  font-size: 2.25rem;
  font-family: Italiana;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.TypographyBody11 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.Capitalised {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}


@media(max-width: 767px) {
  .button-link {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .accordion {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
